[submodule "externals/libqxt"]
	path = externals/libqxt
	url = git://github.com/nodecast/libqxt.git
[submodule "externals/qxmpp"]
	path = externals/qxmpp
	url = git://github.com/nodecast/qxmpp.git
	branch = 0.7.6
[submodule "externals/cppzmq"]
	path = externals/cppzmq
	url = git://github.com/zeromq/cppzmq.git
[submodule "externals/zeromq"]
	path = externals/zeromq
	url = git@github.com:nodecast/zeromq.git
	branch = 4.0.4
[submodule "externals/mongo-cxx-driver"]
	path = externals/mongo-cxx-driver
	url = git://github.com/nodecast/mongo-cxx-driver.git
	branch = 2.4.9
